body {
	width: 100%;
}

.trapezoid {
    height: 0;
    width: 30%;
		color: white;
    border-bottom: 55em solid;
    border-left: 25em solid transparent;
    border-right: 0em solid transparent;
    float: left;
		overflow: hidden;
}

#overall-page {
	/*padding-top: 50px;*/
}

#logo {
	width: 450px;
	padding-left: 25px;
}

#logo-items {
	float: right;
	margin-right:40px;
}

#speaker-images {
	padding-left: 25px;
	padding-top: 25px;
}

.logo-pic {
	height: 72px;
	margin-left: 15px;
	margin-right: 15px;
}

.section-header, a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: 100;
	display: inline-block;
	text-decoration: none;
	color: black;
}

.section-header {
	padding-left: 25px;
	margin-bottom: 15px;
}

.speaker-div-schedule {
	background-color: #E62B1E;
	height: 270px;
	padding-left: 25px;
	/*padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;*/
	margin-bottom: 25px;
	vertical-align: middle; /*may need to get rid of this once times are added*/
}

.speaker-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: 100;
	color: white;
	float: left;
}

.homesection {
	background-color: #E62B1E;
	height: 270px;
	/*width: 2000px; /*this is really arbitrary, get rid of later yes*/
	margin-left: 25px;
	overflow-y: hidden !important;
}

.container-scroll {
	position: relative !important;
	overflow: auto;
}

.home-arrow {
	display: inline-block;
	position: relative;
	width: 90px;
	height: 90px;
}

.container-heading {
	vertical-align: center;
}

.event-box {
	height: 270px;
	border: 2px solid white;
	display: inline-block;
}

.event-box-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 45px;
	font-weight: 200;
	float: left;
	color: white;
	margin: 15px;
}

.interactive-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	font-weight: 400;
	font-size: 120px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.homepage-input {
	font-size: 120px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 4px solid black;

}

#top-banner {
	background-color: #f1f1f1;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	margin-bottom: 10px;
}

.speakers-scroll-section {
	display: inline-block;
	height: 270px;
	border: 2px solid white;
}

.speakers-scroll-section img {
	height: 100%;
	width: auto;
}

#speaker-blocks {
	background-color: white;
}

.speaker-trapezoid {
	border-bottom: 260px solid white;
	border-left: 300px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 100px;
	display: inline-block;
	float: right;
	margin: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.back {
	display: inline-block;
	padding-bottom: 5px;
	height: 50px;
}

.header-with-back-arrow {
	padding-left: 25px;
}

#schedule-scroll {

}

#speakers-scroll {

}

#activities-scroll {

}
