body {
	width: 100%;
}

.trapezoid {
    height: 0;
    width: 30%;
		color: white;
    border-bottom: 55em solid;
    border-left: 25em solid transparent;
    border-right: 0em solid transparent;
    float: left;
		overflow: hidden;
}

#overall-page {
	padding-top: 50px;
}

#logo {
	width: 450px;
}

.section-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: 100;
	display: inline-block;
}

#logo, .section-header {
	padding-left: 25px;
	margin-bottom: 15px;
}

.speaker-div-schedule {
	background-color: #E62B1E;
	height: 270px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	vertical-align: middle; /*may need to get rid of this once times are added*/
}

.speaker-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: 100;
	color: white;
	float: left;
}

.homesection {
	background-color: #E62B1E;
	height: 270px;
	/*width: 2000px; /*this is really arbitrary, get rid of later yes*/
	margin-left: 25px;
	overflow-y: hidden !important;
}

.container-scroll {
	position: relative !important;
	overflow: auto;
}

.home-arrow {
	display: inline-block;
	position: relative;
	width: 90px;
	height: 90px;
}

.container-heading {
	vertical-align: center;
}

.event-box {
	height: 270px;
	border: 2px solid white;
	display: inline-block;
}

.event-box-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 45px;
	font-weight: 100;
	float: left;
	color: white;
	margin: 15px;
}

.interactive-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	font-weight: 400;
	font-size: 120px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#schedule-scroll {

}

#speakers-scroll {

}

#activities-scroll {

}
