body {
	width: 100%;
}

#overall-page {
	padding-top: 50px;
}

#logo {
	width: 450px;
}

.section-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: 100;
	display: inline-block;
}

#logo, .section-header {
	padding-left: 25px;
	margin-bottom: 15px;
}

.speaker-div-schedule {
	background-color: #E62B1E;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.speaker-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: 100;
	color: white;
}

.homesection {
	background-color: #E62B1E;
	height: 270px;
	width: 2000px; /*this is really arbitrary, get rid of later yes*/
	margin-left: 25px;
	overflow-y: hidden !important;
}

.container-scroll {
	position: relative !important;
	overflow: auto;
}

.home-arrow {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
}

.container-heading {
	vertical-align: center;
}

#schedule-scroll {

}

#speakers-scroll {

}

#activities-scroll {

}
