<!-- Homepage of the TEDxUofW2017 Web App -->

<!DOCTYPE html>
<html ng-app="tedx-app">
<head>
	<title>TEDxUofW</title>
	<meta charset='UTF-8'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="app.js"></script>

	<link href="app.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div id="overall-page" ng-controller="AppController as page">
		<img src="assets/TEDx_logo_White.png" id="logo"/>

		<!-- One block in the home page -->
		<div ng-repeat="section in sections">
			<!-- Heading -->
			<div class="container-heading">
				<h1 class="section-header">{{section.text}}</h1>
				<svg class="home-arrow" viewBox="0 -5 24 24">
	    			<path fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
				</svg>
			</div>

			<!-- Scrolling container -->
			<div class="container-scroll">
				<div class="homesection" id="{{section.content}}">
					<div ng-controller="HomeSectionController as scroller"> <!-- Need to figure out how to get this to be unique for each section  -->
						<div ng-repeat="item in items"></div>
					</div>
				</div>
			<div>
		</div>

	</div>
</body>
</html>

